body {
    color: #4D4D4D;
    background-image: url("images/bg-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.header-box {
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(68, 105, 255, 0.1);
    border-radius: 20px;
    padding: 25px;
}
.radio-title{
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(68, 105, 255, 0.1);
    border-radius: 20px;
    padding: 25px;
}